{{ ansible_managed | comment }}
---
version: "3"

networks:
  monitoring:

services:
  prometheus:
    image: prom/prometheus
    networks:
      - monitoring
    restart: unless-stopped
    volumes:
      - {{ PATH }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    
  grafana:
    image: grafana/grafana-oss
    volumes: 
      - {{ PATH }}/grafana/:/etc/grafana/
    ports:
      - {{ grafana_port }}:{{ grafana_port }}
    networks:
      - monitoring
    restart: unless-stopped
    environment:
      GF_INSTALL_PLUGINS: "{{ grafana_plugins }}"

  syslog-ng:
      image: lscr.io/linuxserver/syslog-ng
      environment:
        - PUID={{ USER.UID }}
        - PGID={{ USER.UID }}
        - TZ=America/Toronto
      volumes:
        - {{ PATH }}/loki/syslog-ng.conf:/config/syslog-ng.conf
      networks:
        - monitoring
      ports:
        - {{ SYSLOG_PORT }}:{{ SYSLOG_PORT }}/{{ SYSLOG_PROTO }}
      restart: unless-stopped
  
  loki:
    image: grafana/loki
    command: -config.file=/etc/loki/loki.conf
    volumes:
      - {{ PATH }}/loki/loki.conf:/etc/loki/loki.conf
    restart: unless-stopped
    networks:
      - monitoring

  promtail:
    image: grafana/promtail
    volumes:
      - {{ PATH }}/loki/promtail.conf:/etc/promtail/promtail.conf
      - /var/log/promtail:/var/log
    command: -config.file=/etc/promtail/promtail.conf
    networks:
      - monitoring
    restart: unless-stopped

  blackbox_exporter:
    image: prom/blackbox-exporter:v0.16.0
    networks:
      - monitoring
    restart: unless-stopped

  ping_exporter:
    image: gperiard/ping-exporter
    networks:
      - monitoring
    restart: unless-stopped

  snmp_exporter:
    image: prom/snmp-exporter:v0.14.0
    networks:
      - monitoring
    restart: unless-stopped